<app-sidebar></app-sidebar>
<br> <br> 
<div class="row text-center">
    <div class="container">
        <br><br>
        <h2 class="section-heading">Profile</h2>
        
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Username</strong></td>
            <td><strong>Email Address</strong></td>
            
        </tr>
        <tr>
          <td>{{name}}</td>
          <td>{{username}}</td>
          <td>{{email}}</td>
        </tr>
    </table>
</div>
