<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/publichome']" routerLinkActive="active">Lab Reservation</a>
      </div>
      <div  class="navbar-collapse collapse">  publichome
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/login']" routerLinkActive="active"  >Login</a></li>
          <li>
            <a [routerLink]="['/register']" routerLinkActive="active"  >Register 
              <span class="sr-only">(current)</span>
            </a>
          </li>
                         
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <br>
  <div class="container-fluid">
  
      
          
      <div class="col-md-1"></div>
      
      <div class="col-md-11">
          <router-outlet></router-outlet>
          
      </div>
      
        
          
      
    
  </div>