<app-sidebar></app-sidebar>
<br> <br> 
<div class="container-aboutUs1">
        <p style="text-align:left;font-family:serif; font-size:large; color:darkblue;" > {{username}} </p>
        <h2 style="text-align: left;">Lab Reservation System </h2>  <br>     	
         
</div>

<br>
<div class="container-aboutUs" style="border: 2px solid blue;">
<form [formGroup]="viewresForm" >
<div class="col-sm-8">
        <div class="col-sm-2">
        <strong style="text-align: left; color: darkviolet">Today  </strong>
        </div>  
        <div class="col-sm-6">
        <strong>
                <label class="lb">Select Lab :</label>
                <select formControlName="lab" class="btnii" name="lab" [(ngModel)]="lab" >
                        <option selected="selected"  value="A" >Lab A</option>
                        <option value="B">Lab B</option>
                        <option value="C">Lab C</option>
                        <option value="D">Lab D</option>              
                </select>
        </strong> 
        </div>

</div>

      <button class="button2" type="submit" (click)="getlabAreservations()" [disabled]="!viewresForm.valid">Submit</button>

</form>
</div>
<br>

<div id="sidebart"  style="height: 200px; overflow: auto;">
        <div class="panel panel-info">

        <div class="panel-heading" style="text-align:center;" >
                
                <strong style="color: black" class="text-align: right;">{{today | date:"EEEE, MMMM d, y"}}</strong>
        </div>
        
        
        <table class="table table-hover">
            <tr style="background-color: darkgray">
                <td ><strong>Username</strong></td>
                <td><strong>Start Time</strong></td>
                <td><strong>End Time</strong></td>                
            </tr>
            
            <tr *ngFor="let res of reser" >
              <td>{{res.username}}</td>
              <td>{{res.stime}}</td>
              <td>{{res.etime}}</td>
            </tr>
        </table>
        
        </div>
</div>
<br>
<div *ngIf="!nores" style="border: 2px solid black;">
        <canvas id="bar-chart" width="700" height="250"></canvas>
</div>
<br><br>
<div *ngIf="nores">
        <strong><p style="border: 2px solid black;
    
                margin: auto;    
                padding: 20px;
                text-align: center;">  There are no reservations  today </p></strong>
</div>



